body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}
.slides{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}
.slide-img{
    width: 20%;
    transition: 2s;
}
.slide-img img{
    width: 800px;
    height: 500px;
}

/* làm mục manual  */
.dieu-huong-tu-dong-click{
    position: absolute;
    width: 800px;
    bottom: 250px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: blue;
}



#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}


/* làm phần tự động  */

.dieu-huong-tu-dong-auto{
    position: absolute;
    width: 800px;
    bottom: 250px;
    display: flex;
    justify-content: center;
}
.dieu-huong-tu-dong-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    margin-right: 40px;
}
#radio1:checked ~ .dieu-huong-tu-dong-auto .auto-bt1{
    background-color: blue;
}
#radio2:checked ~ .dieu-huong-tu-dong-auto .auto-bt2{
    background-color: blue;
}
#radio3:checked ~ .dieu-huong-tu-dong-auto .auto-bt3{
    background-color: blue;
}
#radio4:checked ~ .dieu-huong-tu-dong-auto .auto-bt4{
    background-color: blue;
}